@model ContactViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Contact me";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Contact me</h1>

<form action="/contacts/index" method="post">
    <div>
        <label for="name">Name*</label>
        @Html.TextBoxFor(m => m.Name, new { id="name" })
    </div>
    <div>
        <label for="email">Email*</label>
        @Html.TextBoxFor(m => m.Email, new { id = "email", type="email"})
    </div>
    <div>
        <label for="message">Message</label>
        @Html.TextAreaFor(m => m.Message, new { id = "message" })
    </div>
    <input type="submit" />
</form>