@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations-next-lite.min.js" defer></script>
    <script src="~/js/home.js" asp-append-version="true" defer></script>
}

@section Header {
    <nav>
        <div id="menu">Menu</div>
        <ul id="main-nav">
            <li id="illustration"><a href="/illustrations">ILLustRatiOn</a></li>
            <li id="graphic"><a href="/graphics">GRaPhic</a></li>
            <li id="motion"><a href="/motions">MOtioN</a></li>
            <li id="paintings"><a href="/paintings">PainTiNgS</a></li>
        </ul>
    </nav>
}
<div id="center">
    <div id="avatar">
        <a href="/about"></a>
    </div>
    <a class="bio hidden" href="/about">Bio</a>
</div>
<img src="~/img/tri-kartinki.png" width="255" height="435" alt="paintings of cat, clock and flower on the wall" id="bg-img" />
<div id="contacts">
    <a href="/contacts"></a>
</div>
<img src="~/img/muha.png" width="50" height="61" alt="a fly flying around" id="fly" />
