<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SilviaIlieva.Web</title>
        <link rel="icon" type="img/png" href="~/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
        @RenderSection("Styles", required: false)
    </head>
    <body>
        <div id="main-container">
            @if (IsSectionDefined("Header"))
            {
                RenderSection("Header");
            }
            else
            {
                <nav>
                    <ul>
                        <li></li>
                    </ul>
                </nav>
            }
            @RenderBody()
            <footer>
                <div>
                    <p>Design by: Silvia Ilieva</p>
                    <p>Developed by by: Milen Tanev</p>
                    <p>&copy; 2019 all rights reserved</p>
                </div>
            </footer>
        </div>
        @RenderSection("Scripts", required: false)
    </body>
</html>
