@model IEnumerable<SilviaIlieva.Services.Data.Models.DesignModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Paintings";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}

<h1>Paintings</h1>
<partial name="_DesignList" for="@Model" />
