body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Dokdo', cursive;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.hidden {
    display: none;
}
